#card {
max-width: 700px;
    min-width: 700px;
    margin-top: 5%;
    text-align: center;
    transition: .5s ease all;
    background-color: rgba(240,255,240, 0.7);
    border-color: rgba(240,255,240, 0.4);
    border-radius: 30px;
    box-shadow: 10px 10px 10px;
}